* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 	Todos elementos dentro do corpo do documento */
body {
  background: #ddfbfe;
  font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos com o ID "titulo" */
#titulo{
	font-family: sans-serif;
    color: #24303c;
    margin-left: 7%;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #24303c;
    margin-left: 7%;
} 

/* Elementos com o ID "form-register" */
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin-top: 1%;
  margin-left: 3.5%;
  border-radius: 4px;
  font-family: sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* Elementos com o ID "controls" */
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}


/* Elementos de classe botão */
.form-register .botao {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin-top: %;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
..form-register .botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

